<!-- This is _navigation.html -->
<div>
  {{#user}}
    <form action="/logout" method="post">
      Hello, {{ username }}
      <button>Logout</button>
      <input type="hidden" name="{{ _csrf.parameterName }}" value="{{ _csrf.token }}">
   	<div>
   			<a href="/home">Fun Stuff</a>
   	</div>
   	<div>
   			<a href="/home">Other stuff</a>
   		
   	</div>
   	<div>
   			<a href="/home">Still more stuff</a>
   		 
   	</div>
    </form>
  {{/user}}
  {{#notUser}}
    <a href="/login-page">Login</a>
    <a href="/signup">Sign up</a>
  {{/notUser}}
</div>
